<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method= 'post', action= '/users'>
      <input type= 'text', name= 'username', placeholder= 'username'>
      <input type= 'password', name= 'password', placeholder= 'password'>
      <input type= 'submit', value= 'Log in'>
    </form>
  </body>
</html>
